@page
@model Education

@{
    ViewData["Title"] = "Education";
}

<div class="px-12">
    <h1 class="text-lg text-center">Welcome</h1>
    <p>
        I'm currently studying Physics and Computer Science at the University of Utah. I am a
        chronological sophomore, but am taking junior- and senior-level courses in CS. I got into
        CS because of my experience in Junior High, where we were required to take a programming
        course, and since then I have always been interesting in programming, mathematics, physics,
        and everything else in this field. I started the Physics double-major in Fall 23, as I
        was taking some courses for a Physics minor and got super interested in those courses,
        whereas I found my interest dwindling in my upper-level Math courses that I was taking
        for the Math minor. I anticipate graduating in Spring 26 with both majors, but I am
        applying for admission into the CS BS/MS program, so I would additionally graduate with a
        CS Master's Degree in Spring 27.
    </p>
</div>