@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="px-12">
    <h1 class="text-lg text-center">Welcome</h1>
    <p>
        I'm Brayden Jonsson, and this is my personal portfolio website. Previously, I used a
        Github Pages static site based on Vue.js, but inspired by my need to switch domain
        providers after Squarespace acquired Google Domains, I am redeveloping this site from
        scratch in a stack based on the .NET framework. This should provide me more flexibility,
        as well as teaching me better web development skills.
    </p>
    <br>
    <p>
        I'm a current student at the University of Utah, double-majoring in Computer Science and
        Physics. I have been programming since at least 9th grade, and with the experience coming
        into university, CS seemed like the obvious correct option. Initially, I bounced around a
        few different minors, certificates, and emphasis options, until I landed on a double-major
        with a base Physics degree. Physics has always been my favorite hard science class, and I
        think in an alternate reality without computers, Physics would be on my shortlist of degrees
        to pursue by itself. I'm also a member of the Honors College, and intend to complete the
        thesis for both departments. Currently, I'm interested in researching machine learning,
        quantum computing, mechanical simulations/modelling, algorithms, and whatever else I find
        interesting, which is most fields in these subjects.
    </p>
</div>