@page
@model PrivacyModel
<h1>@ViewData["Title"]</h1>

<p class="px-12">
    I do not specifically save or use any user data from this site, other than my own.
    Some logs may be taken if the site is running into problems, but will not be stored
    nor shared for purposes other than debugging. This data is not enough to identify
    users or track anyone.
</p>